.sect-inicio {
    padding: 5em 2em;
    margin: 0 2em 5em 2em;
}

.inicio-container {
    display: flex;
    gap: 6em;
    justify-content: space-evenly;
}

.inicio__foto {
    border-radius: 10px;
    border: 2px solid var(--bordo);
    width: 40em;
    height: 90%;
}

.inicio__container-texto {
    width: 100%;
}

.container__botoes {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}

.texto-titulo {
    color: var(--bordo);
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;
    font-family: var(--fonte-terciaria);
}

.inicio-texto.paragrafo {
    margin: 1em 1em 2em 3em;
}

@media screen and (max-width: 480px) {
    .sect-inicio {
        padding: 2em 1em;
        margin: 0 1em 2em 1em;
    }

    .inicio-container {
        flex-direction: column;
        gap: 2em;
        align-items: center;
    }

    .inicio__foto {
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    .inicio__container-texto {
        width: 100%;
        text-align: center;
    }

    .texto-titulo {
        font-size: 1.5em;
    }

    .inicio-texto.paragrafo {
        margin: 1em 0 1.5em 0;
    }

    .botao {
        text-align: center;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {

    .sect-inicio {
        padding: 2em 1em;
        margin: 0 1em 2em 1em;
    }

    .inicio-container {
        flex-direction: column;
        gap: 2em;
        align-items: center;
    }

    .inicio__foto {
        width: 100vw;
        max-width: 500px;
        height: auto;
    }

    .inicio__container-texto {
        width: 100%;
        text-align: center;

    }

    .texto-titulo {
        font-size: 1.5em;
    }

    .inicio-texto.paragrafo {
        margin: 1em 0 1.5em 0;
    }

    .botao {
        text-align: center;
    }
}