/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('header.css');
@import url('swiper.css');
@import url('banner.css');
@import url('inicio.css');
@import url('direcao.css');
@import url('eventos.css');
@import url('footer.css');

@import url('catalogo.css');
/*------------*/

/*Variaveis*/
:root {
    /*Cores*/
    --bordo-degrade: linear-gradient(90deg, #42031c 0%, #691831 50%, #42031c 100%);
    --dourado-degrade: linear-gradient(90deg, #724407 0%, #946527 50%, #724407 100%);
    --amarelo-bordo-degrade: linear-gradient(90deg, #89570D 0%, #603a17 50%, #2E140C 100%);
    --bordo: #530526;
    --amarelo-dourado: #e8ac5e;
    --cinza-bege: #D6CFB4;
    --branco-visivel: #f6f6f6;
    --branco-puro: #ffffff;
    --preto-puro: #000000;
    --cinza: #919191;
    /*Fontes*/
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Ancizar Serif";
    --fonte-terciaria: "Playfair Display";
}

/*------------*/

body {
    /* background: var(--amarelo-bordo-degrade); */
    font-family: var(--fonte-principal);
    font-size: 18px;
    font-weight: 400;
    contain: content;
    background-image: url(../assets/backgrounds/background__pattern__sides.png);
    background-size: contain;
}

.titulo {
    color: var(--bordo);
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;
    font-family: var(--fonte-terciaria);
}


.botao {
    text-decoration: none;
    border: 1px solid var(--bordo);
    padding: 0.75em;
    border-radius: 8px;
    color: var(--preto-puro);
    font-family: var(--fonte-principal);
    font-weight: 500;
}

.botao:hover {
    color: var(--branco-puro);
    transition: color 0.3s ease;
    transform: scale(1.05);
    transition: transform 0.3s ease;
    background-color: var(--bordo);
}

.paragrafo {
    line-height: 1.6;
    text-indent: 1.3em;
}

.login {
    background-color: var(--bordo);
    color: var(--branco-puro);
    padding: 0.5em 1em;
    border-radius: 8px;
    font-weight: 600;
}